.landing {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b2433;
}

.title {
  font-size: 48px;
  color: #fff;
  line-height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title span {
  color: #e6007f;
}

.svgWrapper {
  position: relative;
  cursor: pointer;
}

.shape {
  stroke-dasharray: 150 1000;
  /* stroke-dasharray: 140 540; */
  stroke-dashoffset: -2370;
  stroke-width: 8px;
  fill: transparent;
  stroke: #e6007f;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svgWrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 4000;
}

.circle1 {
  width: 200px;
  height: 200px;
  background: rgb(230, 0, 127);
  background: linear-gradient(
    45deg,
    rgba(230, 0, 127, 1) 0%,
    rgba(213, 54, 142, 1) 100%
  );
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: 50px;
}

.circle2 {
  width: 450px;
  height: 450px;
  background: rgb(230, 0, 127);
  background: linear-gradient(
    45deg,
    rgba(230, 0, 127, 1) 0%,
    rgba(213, 54, 142, 1) 100%
  );
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
